/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
@import "normalize";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Modules
@import "modules/all";

///////////////////////
// Foundation tweaks //
///////////////////////

header[role="banner"] {
	img {
		width: 80px; height: 80px;
		float: left;
		margin: 20px;
	}
}

.orbit-timer, .orbit-next, .orbit-prev, .orbit-slide-number {
	display: none;
}

// Topbar 
.top-bar-section .dropdown li a {
	padding-top: 17px;
}

.top-bar-section li a:not(.button):hover {
	background: lighten($primary-color, 25%);
}

.contain-to-grid .top-bar {
	margin-bottom: 40px;
}

.vspace-bottom {
	margin-bottom: 3em;
}

.top-bar {
	input[type="text"] {
		background: lighten(#E6DB91, 8%);
		border: none;
		color: #172625; }

	::-webkit-input-placeholder {
		color: darken(#E6DB91, 10%);
		text-shadow: 0px 1px 1px lighten(#E6DB91, 40%);
	}
}

// Facebook iframe

/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
  display: none;
}
 
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
  border: none !important;
}
.fb_iframe_widget {
	border: 1px solid #ddd !important;	
}


//Court Overview

table.court-overview {
	width: 100%;

	td.day {
		h3 {
			margin-top: 1em;
			margin-bottom: .5em;
		}
	}

	tr.subtle > td {
		color: #aaa;
		text-align: center;
		border-left: 1px solid #ddd;

		&:first-child {
			text-align: left;
			border-left: none;
		}
	}

	tr td[class^="men"], tr td[class^="woman"], tr td[class^="youth"], tr td[class^="mix"], tr td[class^="liga"] {
		border: 1px solid #fff; 
		text-align: center;
	}

	tr td:last-child {
		border-right: none;
	}

	tr.bottom td {
		border-bottom: none;
	}

	td > span {
		color: rgba(0, 0, 0, .4); }

	$court-men-color: #99ccff;
	$court-woman-color: #ff99cc;
	$court-youth-color: #ccff99;
	$court-mix-color: #ffcc99;
	$court-liga-color: #ffff99;
	[class^="men"] { background: $court-men-color;}
	[class^="woman"] { background: $court-woman-color;}
	[class^="youth"] { background: $court-youth-color;}
	[class^="mix"] { background: $court-mix-color;}
	.liga { background: $court-liga-color;}
}

// adjusting header
h4.subheader {
	margin-top: -1em;
}

// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers { @include pagination; }

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	li {
		list-style: none;
		margin-bottom: 2em;
	}
		.comment-author img {
			border-radius: 50%;
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
		}
			cite.fn {
				@extend h4;
				margin-right: 0.5em;
			}
		section.comment {
			@include panel(white, 20px);
		}
			a.comment-reply-link {
				float: right;
				position: relative;
				bottom: 1em;
			}
}

// add some extra margin to ul
ul {
	margin-#{$default-float}: $list-side-margin;
}

// add some margin for embeds in post
figure {
	margin-bottom: $paragraph-margin-bottom;
}

// adjust search button on top-bar
input.prefix.button {
	line-height: 1;
}

// adjust search button on sideba
#sidebar input.prefix.button {
	line-height: 0.7;
}

// Add Class for Images
img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: inline-block;
	figcaption {
		padding: 8px 10px;
		color: gray;
		margin-bottom: $paragraph-margin-bottom;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}